@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


/* 
@theme {
  --color-primary-DEFAULT: #3B82F6;
  --color-primary-dark: #2563EB;
}

.dark .p-inputtext {
  @apply bg-gray-800 border-gray-700 text-gray-100;
}

.dark .p-inputtext:enabled:hover {
  @apply border-primary;
}

.dark .p-inputtext:enabled:focus {
  @apply ring-primary-400 border-primary-dark shadow-none;
}

.dark .p-dropdown {
  @apply bg-gray-800 border-gray-700 text-gray-100;
}

.dark .p-dropdown-panel {
  @apply bg-gray-800 border-gray-700;
}

.dark .p-dropdown-item {
  @apply text-gray-100 hover:bg-gray-700;
}


* {
  @apply transition-colors duration-300;
}


[dir="rtl"] .p-dropdown {
  direction: rtl;
  text-align: right;
}

[dir="rtl"] .p-inputtext {
  text-align: right;
} */