@import "primereact/resources/themes/lara-light-indigo/theme.css";
@import "primereact/resources/primereact.min.css";
@import "primeicons/primeicons.css";

@import 'swiper/css'; /* If not already imported via JS */
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      @apply font-sans;
    }
  
    html[lang="ar"] body,
    html[lang="ar"] [lang="ar"],
    body:lang(ar),
    [lang="ar"] {
      @apply font-alexandria;
    }
    
    html[lang="ar"] h1,
    html[lang="ar"] h2,
    html[lang="ar"] h3,
    html[lang="ar"] h4,
    html[lang="ar"] h5,
    html[lang="ar"] h6 {
      @apply font-alexandria;
    }
}

.products-swiper-container {
  position: relative;
}

.products-swiper-container .swiper-pagination-bullet {
  @apply w-2.5 h-2.5 bg-gray-300 dark:bg-gray-600 opacity-70 transition-opacity duration-200;
  margin: 0 5px !important; 
}

.products-swiper-container .swiper-pagination-bullet-active {
  @apply bg-orange-500 dark:bg-orange-400 opacity-100;
}
.products-swiper-container .swiper-slide {
  height: auto; 
  display: flex; 
}
.products-swiper-container .swiper-slide > div { 
  width: 100%;
}
